.userTable{
    width: 80%;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    padding-top: 30px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px;

    top:10%;
    left:10%;
    margin-right: 10%;
    position:fixed;
    overflow-x: auto;
}

.userTable table{
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
}

.userTable table thead th{
    background-color: aquamarine;
    color: black;
    text-align: center;
}

.userTable tbody td{
    text-align: center;
    background-color: white;
    
}

.userTable tbody {
    justify-content: space-evenly;
}

.userTable tbody td button{
    width: 50px;
    font-size: 11px;
    margin-right: 3px;
}

.project-description{
    width: 100%;
    height: 100px;
    background-color: white;
    color: black;
}

.projectName{
    background-color: white;
    color: black;
}

.userTable input{
    background-color: white;
    color: black;
}

.userTable select{
    background-color: white;
    color: black;
}

.create-project{
    top:10%;
    left:40%;
    position:fixed;
}

